*{
    padding: 0;
    margin: 0;
}

.modal-body{
    margin-left: 25%;
}

#tituloModal{
    text-align: center;
}

.desplegador{
    display: block !important;
    left: 30% !important;
    top: 30% !important;
}